<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/base :: head"></div>

<body>
<div th:insert="fragments/base :: header"></div>

<!-- Fragmento do Conteúdo Principal -->
<section th:fragment="content">
  <div th:if="${alerta}" class="alert alert-success" role="alert">
    <p th:text="${alerta}"></p>
  </div>
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>

          </tr>
          </thead>
          <tbody th:each="comida: ${comidasList}">
          <tr>
            <td th:text="${comida.nome}"></td>
            <td th:text="${comida.preco}"></td>
            <td th:text="${comida.descricao}"></td>
            <td th:text="${comida.quantidade}"></td>
            <td><a th:href="@{'/editar/' + ${comida.id}}">Editar</a></td>
            <td><a th:href="@{'/deletar/' + ${comida.id}}">Deletar</a></td>
          </tr>

          </tbody>
        </table>

    </div>
  </section>
</section>
<div class="fixed-bottom" th:insert="fragments/base :: footer"></div>
</body>
</html>