<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Postagens</title>
</head>
<body>
<h1> Página de Cadastro de Comiddas</h1>
<form method="post" th:action="@{/salvar}" th:object="${comida}">
    <input type="hidden" th:field="*{id}">

    Nome: <input type="text" th:field="*{nome}">
    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
    <br />


    Descrição: <input type="text" th:field="*{descricao}">
    <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></p>
    <br />

    Preço: <input type="number" th:field="*{preco}">
    <p th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></p>
    <br />

    Quantidade: <input type="number" th:field="*{quantidade}">
    <p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></p>
    <br />
    <button type="submit">Cadastrar</button>
</form>

</body>
</html>