<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/base :: head"></div>
<body>
<div th:insert="fragments/base :: header"></div>
<div th:insert="fragments/base :: apre"></div>
<!-- Fragmento do Conteúdo Principal -->
<section th:fragment="content">
    <div th:if="${alerta}" class="alert alert-success" role="alert">
        <p th:text="${alerta}"></p>
    </div>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Product-->
                <div class="col mb-5" th:each="comida: ${comidasList}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" th:src="'/images/' + ${comida.imageUri}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${comida.nome}">!</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through" th:text="${comida.preco}">$</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        th:href="@{'/adicionarCarrinho/' + ${comida.id}}">Adicionar ao carrinho</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="fixed-bottom" th:insert="fragments/base :: footer"></div>
</body>
</html>
